<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDVhigUF6-K8GbEad6eDomr0ehznKWy-j4</string>
	<key>GCM_SENDER_ID</key>
	<string>9255143973</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.enestalhaucar.MoviesApp</string>
	<key>PROJECT_ID</key>
	<string>moviesapp-21846</string>
	<key>STORAGE_BUCKET</key>
	<string>moviesapp-21846.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:9255143973:ios:a342825f45416f02574dcc</string>
</dict>
</plist>